section {
  & > article {
    margin-top: 20px;

    .article-title {
      .title {
        display: inline-block;
        font-size: 1.2em;
        background-color: #ecfae53a;
        border-left: 3px solid #b0db9c;
        padding: 5px 10px;
      }

      .desc {
        padding: 10px;
      }
    }

    .article-content {
      display: flex;
      flex-direction: column;
      gap: 20px;

      padding: 10px;
      .content-list {
        &-item {
          padding: 3px 0;

          &::before {
            content: "";
            display: inline-block;
            width: 7px;
            height: 7px;
            background-color: #cae8bd;
            margin-right: 10px;
          }
        }
      }
      .lottie-container {
        .lottie-title {
        }
      }
      .progress-bar-container {
        display: flex;
        .progress-bar-title {
        }
      }
    }
  }
}
