@charset "utf-8";

$main-color: #147C6C;
$pointer-color: #105E51;

// 뎁스별 배경색 (깊어질수록 더 어둡게)
$sidebar-bg-depth1: #00000026;  // 원본색
$sidebar-bg-depth2: #0000004D; // 12% 오버레이
$sidebar-bg-depth3: #00000066; // 24% 오버레이

// 사이즈 지정
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// 가운데지정
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin transition {
  transition: all ease 0.2s;
}

// 말줄임
@mixin ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 말줄임여러줄
@mixin ellipsis-multi($line-clamp: 2) {
  display: block;
  display: -webkit-box;
  display: -ms-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-clamp;
  overflow: hidden;
  max-width: 100%;
  word-wrap: break-word;
  word-break: keep-all;
  text-overflow: ellipsis;
}

// float 영역 clear
@mixin clearAfter {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

// 반응형 사이즈
@mixin responsive($media) {
  $pc: "(min-width: 1025px)";
  $tablet: "(max-width: 1024px)";
  $mob: "(max-width: 768px)";
  $mob-small: "(max-width: 375px)";

  @if $media == pc {
    @media only screen and #{$pc} {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and #{$tablet} {
      @content;
    }
  } @else if $media == mob {
    @media only screen and #{$mob} {
      @content;
    }
  } @else if $media == mob-small {
    @media only screen and #{$mob-small} {
      @content;
    }
  }
}
